/*  your css code here. If applicable */
ul.navbar{
	background-color: #D3D3D3;
    padding: 10px;
    display: flex; /* Use flexbox to align items horizontally */
    list-style: none; 
}
ul.navbar li{
	display:inline;
	margin-right:1rem
}